<footer>
  <div class="container">
      <div class="row box">
          <div class="col-sm-10 text-center" >
              
              <p>Rua: Comendador Custódio Vieira, 15 CEP:12600-030</p>
              <p>Centro - Lorena - SP</p> <br>
              <p>Todos os direitos reservados &copy; | Sensual Moda Intima | 2019</p>
              
          </div>
          <div class="col-sm-2 text-center"> <br>
             <small>Desenvolvido por:</small> <br>
              <strong>CMInformática</strong>
          </div>
      </div>
  </div>
</footer>
