form {
    font-size: 1.2rem;
    font-family: 'Kaushan Script', cursive;
    // font-family: 'Great Vibes', cursive;
    // font-family: 'Lobster Two', cursive;
    // font-family: 'Cookie', cursive;
    // font-family: 'Playball', cursive;
}

p {
    font-size: 1.2rem;
}

