<section id="calcinha">
  <div class="container">
    <div class="box row justify-content-center">
      <div class="col-lg-12"> 
        <div class="page-header"><h1>Calcinha</h1> <hr> </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/calcinha/8030.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Calcinha de Algodão</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 6,90</p>
            <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->

            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo28">
                + Detalhes
            </button>
              
              <!-- Modal -->
              <div class="modal fade" id="modalExemplo28" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Calcinha de Algodão</h5>
                      
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <img class="card-img-top" src="../../assets/calcinha/8030 (2).png" alt="Imagem de capa do card">  
                            </div>
                            <div class="col-md-6">
                              <p>Descrição: Calcinha de algodão (92% de algodão e 08% de Elastano ).</p>
                              <p>Estampas: Variadas.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/calcinha/8053 (3).png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Calcinha de Microfibra</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 6,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo29">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo29" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Microfibra</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/8053 (2).png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Microfibra (91% de Poliamida e 09% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/calcinha/8041.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Calcinha de Algodão Estampada</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 5,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo30">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo30" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Algodão Estampada</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/8041.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Algodão (92% de algodão e 08% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/calcinha/8039.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Calcinha de Microfibra</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 6,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo31">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo31" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Microfibra</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/8039 (2).png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Microfibra (91% de Poliamida e 09% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/8031.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Algodão</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 7,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo32">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo32" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Calcinha de Algodão</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/calcinha/8031 (2).png" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Calcinha de Algodão (92% de Algodão e 08% de Elastano ).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/8081.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Microfibra Fio</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 8,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo33">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Microfibra Fio</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/8081(2).png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Microfibra Fio (91% de Poliamida e 09% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_07.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Renda</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 7,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo34">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo34" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Renda</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_07.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Renda (90% de Poliamida e 10% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_15.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calesson de Renda</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 11,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo35">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo35" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calesson de Renda</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_15.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calesson de Renda (90% de Poliamida e 10% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div> 
        <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_03.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Algodão Fio</h5>
              <p class="card-text">Tam. M</p>
              <p class="card-text">R$ 4,30</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo36">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo36" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Calcinha de Algodão Fio</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/calcinha/c_03.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Calcinha de Algodão (92% de Algodão e 08% de Elastano ).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_04.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Renda com Regulagem</h5>
              <p class="card-text">Tam. Único</p>
              <p class="card-text">R$ 8,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo37">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo37" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Renda com Regulagem</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_04.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Renda com Regulagem (85% de Poliamida e 15% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_05.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Renda Fio</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 7,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo38">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo38" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Renda Fio</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_05.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Renda Fio (90% de Poliamida e 10% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_06.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Renda Aberta</h5>
              <p class="card-text">Tam. Único</p>
              <p class="card-text">R$ 7,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo39">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo39" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Renda Aberta</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_06.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Renda Aberta (90% de Poliamida e 10% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div> 
        <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_30.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Lycra com Renda</h5>
              <p class="card-text">Tam. M G GG</p>
              <p class="card-text">R$ 13,50</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo40">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo40" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Calcinha de Lycra com Renda</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/calcinha/c_30.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Calcinha de Lycra com Renda (83% de Poliamida e 17% de Elastano ).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_29.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Microfibra com Renda</h5>
              <p class="card-text">Tam. M G GG</p>
              <p class="card-text">R$ 15,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo41">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo41" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Microfibra com Renda</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_29.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Microfibra com Renda(85% de Poliamida e 15% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_33.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Coton</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 8,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo42">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo42" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Coton</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_33.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Coton (92% de Algodão e 08% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_34.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Coton</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 8,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo43">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo43" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Coton</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_34.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Coton (92% de Algodão e 08% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_32.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Cueca Feminina</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 8,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo44">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo44" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cueca Feminina</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/calcinha/c_32.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Cueca Feminina (92% de Algodão e 08% de Elastano ).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_37.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Coton Cós Alto</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 13,50</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo45">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo45" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Coton Cós Alto</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_37.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Coton Cós Alto (92% de Algodão e 08% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_35.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Coton com Elastico Exposto</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 7,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo46">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo46" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Coton com Elastico Exposto</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_35.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Coton com Elastico Exposto (92% de Algodão e 08% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_36.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Lycra</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 8,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo47">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo47" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Lycra</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_36.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Lycra (85% de Poliamida e 15% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_01.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha Sainha</h5>
              <p class="card-text">Tam. M G</p>
              <p class="card-text">R$ 15,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo48">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo48" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Calcinha Sainha</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/calcinha/c_01.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Calcinha Sainha (90% de Poliamida e 10% de Elastano ).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_42.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha Sainha Sexy</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 29,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo49">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo49" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha Sainha Sexy</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_42.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha Sainha Sexy (90% de Poliamida e 10% de Elastano ).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_45.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Renda Fio</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 7,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo50">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo50" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Renda Fio</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_45.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Renda Fio (90% de Poliamida e 10% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_21.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calcinha de Microfibra com Renda</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 9,50</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo51">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo51" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calcinha de Microfibra com Renda</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_21.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calcinha de Lycra (83% de Poliamida e 17% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
