<section id="quemsomos">
  <div class="container">
    <div class="box row justify-content-center">
      <div class="col-lg-12"> 
        <div class="page-header"><h1>Quem Somos</h1> <hr> </div>
        <div class="row">
            <div class="col-md-9">
                <div class="text-right">
                     <p>
                            Desde 2001 fazendo suas noites maravilhosas, fundada em 17 de Agosto de 2001 em Guaratinguetá,
                            em Novembro de 2003 montamos nossa segunda loja na Cidade de Lorena, onde permanecemos até os dias de hoje.
                             Trabalhando com lindas Lingeries, Pijamas e Camisolas.
                            Sendo destaque de 1º lugar em bom atendimento e qualidade na prestação de serviços nos anos de 2005,2006, 2007, 2008 pela GENIUS Publicidade e Pesquisa. 
                             Com propósito de oferecer um produto de ótima qualidade e excelente preço para nossos clientes.
                        </p>
                </div>
                
            </div>
            <div class="col-md-3">
                <img src="../../assets/pijama/P_35.jpg" class="rounded mx-auto d-block"/>
            </div>     
                 
                 
        </div>
      </div>
    </div>
  </div>
</section>