<section id="pijamasfemininos">
  <div class="container">
    <div class="box row justify-content-center">
      <div class="col-lg-12"> 
        <div class="page-header"><h1>Pijamas Femininos Adulto</h1> <hr> </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_35.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Baby Doll Alça Estampado</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 29,00</p>
            <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->

            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
                + Detalhes
            </button>
              
              <!-- Modal -->
              <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Short Doll Alça Estampado</h5>
                      
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <img class="card-img-top" src="../../assets/pijama/P_35.jpg" alt="Imagem de capa do card">  
                            </div>
                            <div class="col-md-6">
                              <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                              <p>Estampas: Variadas.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_34.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Short Doll Regata Estampado</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 31,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo01">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Short Doll Regata Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_34.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_40.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Short Doll Estampado</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 31,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo02">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Short Doll Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_40.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_48.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Short Dool Barra Estampado</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 37,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo03">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Short Dool Barra Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_48.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_51.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador Regata Estampado</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 37,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo04">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo04" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pescador Regata Estampado</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/pijama/P_51.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_50.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador Regata Estampado</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 34,50</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo05">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo05" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescador Regata Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_50.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_33.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador Aberto Estampado</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 45,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo06">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo06" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescador Aberto Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_33.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_49.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador Aberto Estampado</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 39,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo07">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo07" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescador Aberto Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_49.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <br>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_17.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Nadador de Unicórnio</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 37,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo08">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo08" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nadador de Unicórnio</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/pijama/P_17.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_19.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Nadador de Vaquinha</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 34,50</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo09">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo09" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nadador de Vaquinha</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_19.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_29.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador com Calça Estampada</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 45,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo10">
              + Detalhes1
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescador com Calça Estampada</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_29.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_47.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Baby Doll Alça Mescla</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 39,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo11">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Baby Doll Alça Mescla</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_47.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</section>
