<!-- <div class="container"> -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="#">
      <img src="../assets/lj.png" alt="logo da empresa" class="image-responsive">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Feminino
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#pijamasfemininos">Pijama Adulto</a>
            <a class="dropdown-item" href="#femininoinfantil">Pijama Infantil</a>
            <a class="dropdown-item" href="#camisola">Camisolas</a>
            <a class="dropdown-item" href="#calcinha">Calcinhas</a>
            <a class="dropdown-item" href="#soutien">Soutien</a>
            <a class="dropdown-item" href="#gestante">Linha Gestante</a>
            <a class="dropdown-item" href="#sexy">Linha Sexy</a>
            <a class="dropdown-item" href="#sexshop">SexShop</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Masculino
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#masculinoadulto">Pijamas Adulto</a>
            <a class="dropdown-item" href="#masculinoinfantil">Pijama Infaltil</a>
            <a class="dropdown-item" href="#cueca">Cueca</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#quemsomos">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#localizacao">Localização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- </div> -->

<router-outlet></router-outlet>