<section id="masculinoadulto">
  <div class="container">
    <div class="box row justify-content-center">
      <div class="col-lg-12"> 
        <div class="page-header"><h1>Masculino Adulto</h1> <hr> </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/PM_08.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Pijama Masculino Regata</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 45,00</p>
            <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->

            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo130">
                + Detalhes
            </button>
              
              <!-- Modal -->
              <div class="modal fade" id="modalExemplo130" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino Regata</h5>
                      
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <img class="card-img-top" src="../../assets/pijama/PM_08.jpg" alt="Imagem de capa do card">  
                            </div>
                            <div class="col-md-6">
                              <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                              <p>Estampas: Variadas.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/PM_06.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Pijama Masculino Regata</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 45,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo131">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo131" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino Regata</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/PM_06.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/PM_07.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Pijama Masculino Regata</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 45,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo132">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo132" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino Regata</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/PM_07.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/PM_01.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Pijama Masculino 1/2 Manga Listra</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 49,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo133">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo133" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino 1/2 Manga Listra</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/PM_01.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/PM_02.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pijama Masculino 1/2 Manga Liso</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 49,00</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo134">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo134" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino 1/2 Manga Liso</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/pijama/PM_02.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/PM_03.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pijama Masculino 1/2 Manga Aberto</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 52,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo135">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo135" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino 1/2 Manga Aberto</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/PM_03.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/PM_04.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pijama Masculino Longo Liso</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 56,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo136">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo136" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino Longo Liso</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/PM_04.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/PM_05.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pijama Masculino Longo Liso Aberto</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 59,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo137">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo137" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pijama Masculino Longo Liso Aberto</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/PM_05.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pijama de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

</section>
