<app-logo></app-logo>

<app-nav></app-nav>

<app-carousel></app-carousel>

<app-feminino-adulto></app-feminino-adulto>

<app-feminino-infantil></app-feminino-infantil>

<app-camisola></app-camisola>

<app-calcinha></app-calcinha>

<app-soutien></app-soutien>

<app-gestante></app-gestante>

<app-sexy></app-sexy>

<app-sexshop></app-sexshop>

<app-masculino-adulto></app-masculino-adulto>

<app-masculino-infantil></app-masculino-infantil>

<app-cueca></app-cueca>

<app-quem-somos></app-quem-somos>

<app-localizacao></app-localizacao>

<app-contato></app-contato>

<app-footer></app-footer>


<router-outlet></router-outlet>
