section {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Playball', cursive;
}

.card-deck {
    font-family: 'Playball', cursive;   
}
