<section id="gestante">
  <div class="container">
    <div class="box row justify-content-center">
      <div class="col-lg-12"> 
        <div class="page-header"><h1>Linha Gestante</h1> <hr> </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/C_06.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola com Botão na Alça</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 39,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo21">
            + Detalhes
        </button>
          
          <!-- Modal -->
          <div class="modal fade" id="modalExemplo21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Camisola com Botão na Alça</h5>
                  
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6">
                          <img class="card-img-top" src="../../assets/pijama/C_06.png" alt="Imagem de capa do card">  
                        </div>
                        <div class="col-md-6">
                          <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                          <p>Estampas: Variadas.</p>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/robeges.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Robe - Short Doll | Gestante</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 39,90 - R$39,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo63">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo63" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Robe - Short Doll | Gestante</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/robeges.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Robe - Short Doll | Gestante (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_41.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola Aberta</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 37,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo64">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo64" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Aberta</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_41.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola Aberta de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_32.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola Meia Manga Aberta</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 44,90</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo65">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo65" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Meia Manga Aberta</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_32.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola Meia Manga Aberta de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/pl_02.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pijama Longo Aberto</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 59,00</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo66">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo66" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pijama Longo Aberto</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/pijama/pl_02.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Pijama Longo Aberto de malha PV (Poliester com Viscose).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_33.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador Aberto Estampado</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 45,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo67">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo67" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescador Aberto Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_33.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pescador Aberto Estampado de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_49.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Pescador Aberto Estampado</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 39,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo68">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo68" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pescador Aberto Estampado</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_49.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Pescador Aberto Estampado de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_42.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Regata</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 37,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo69">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo69" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Regata</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_42.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola Regata de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
      </div>
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_40.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calça Cinta Ppós Parto</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 46,00</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo70">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo70" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Calça Cinta Ppós Parto</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/calcinha/c_40.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Calça Cinta Ppós Parto (90% de Poliamida e 10% de Elastano).</p>
                                <p>Cores: Chocolate.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/calcinha/c_97.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Calçola Reforçada</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 25,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo71">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo71" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Calçola Reforçada</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/calcinha/c_97.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Calçola Reforçada (90% de Poliamida e 10% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/soutien/sa_99.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Soutiem de Amamentar de Algodão com Renda</h5>
              <p class="card-text">Tam. M G GG</p>
              <p class="card-text">R$ 27,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo72">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo72" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Soutiem de Amamentar de Algodão com Renda</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/soutien/sa_99.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Soutiem de Amamentar de Algodão com Renda (92% de Algodão e 08% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/soutien/sa_98.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Soutiem de Amamentar de Microfibra com Renda</h5>
              <p class="card-text">Tam. M G GG</p>
              <p class="card-text">R$ 27,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo73">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo73" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Soutiem de Amamentar de Microfibra com Renda</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/soutien/sa_98.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Soutiem de Amamentar de Microfibra com Renda (85% de poliamida e 15% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
      </div>
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/soutien/sa_96.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Soutien de Amamentar com Bojo</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 53,00</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo74">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo74" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Soutien de Amamentar com Bojo</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/soutien/sa_96.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Soutien de Amamentar com Bojo (90% de Poliamida e 10% de Elastano).</p>
                                <p>Cores: Preto e Chocolate.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/soutien/sa_97.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Soutien de Amamentar de Algodão sem Bojo</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 23,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo75">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo75" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Soutien de Amamentar de Algodão sem Bojo</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/soutien/sa_97.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Soutien de Amamentar de Algodão sem Bojo (90% de Algodão e 10% de Elastano).</p>
                            <p>Cores: Preto, Branco e Chocolate.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/chinelo/CH_01.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chinelo de Quarto</h5>
              <p class="card-text">Tam. 33/34 ao 39/40</p>
              <p class="card-text">R$ 15,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo76">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo76" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chinelo de Quarto</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/chinelo/CH_01.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Chinelo de Quarto (92% de Algodão e 08% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/chinelo/CH_02.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Chinelo de Quarto</h5>
              <p class="card-text">Tam. 33/34 ao 39/40</p>
              <p class="card-text">R$ 15,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo77">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo77" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chinelo de Quarto</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/chinelo/CH_02.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Chinelo de Quarto (85% de poliamida e 15% de Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

</section>
