<section id="camisola">
  <div class="container">
    <div class="box row justify-content-center">
      <div class="col-lg-12"> 
        <div class="page-header"><h1>Camisolas</h1> <hr> </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_31.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola Regata Estampada</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 28,90</p>
            <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->

            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo15">
                + Detalhes
            </button>
              
              <!-- Modal -->
              <div class="modal fade" id="modalExemplo15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Camisola Regata Estampada</h5>
                      
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6">
                              <img class="card-img-top" src="../../assets/pijama/P_31.jpg" alt="Imagem de capa do card">  
                            </div>
                            <div class="col-md-6">
                              <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                              <p>Estampas: Variadas.</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_36.jpg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola Manga Japonesa Estampada</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 31,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo16">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Manga Japonesa Estampada</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_36.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_43.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola Nadador Mescla</h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 35,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo17">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo17" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Nadador Mescla</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_43.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pijama/P_42.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Camisola Regata </h5>
            <p class="card-text">Tam. P M G GG</p>
            <p class="card-text">R$ 31,00</p>
            <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
            <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo18">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo18" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Regata</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_42.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <br> 
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/c_98.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Alça Silk</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 29,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo19">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Camisola Alça Silk</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/pijama/P_98.jpg" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/c_99.jpg" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Alça Cetim</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 29,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo20">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo20" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Alça Cetim</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/c_99.jpg" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de Cetim.</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/C_06.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola com Botão na Alça</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 39,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo21">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo21" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola com Botão na Alça</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/C_06.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pijama/P_41.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Aberta</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 37,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo22">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Aberta</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/pijama/P_41.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de malha PV (Poliester com Viscose).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
      </div>
      <br>
      <div class="">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../assets/camisola/C_01.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Maria</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 34,90</p>
              <!-- <a href="#" class="btn btn-primary">+ Detalhes</a> -->
  
              <!-- Botão para acionar modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo23">
                  + Detalhes
              </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalExemplo23" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Camisola Maria</h5>
                        
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-6">
                                <img class="card-img-top" src="../../assets/camisola/C_01.png" alt="Imagem de capa do card">  
                              </div>
                              <div class="col-md-6">
                                <p>Descrição: Camisola de Liganete (Poliester e Elastano).</p>
                                <p>Estampas: Variadas.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
  
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/camisola/star.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Star</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 38,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo24">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo24" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Star</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/camisola/star.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de Liganete (Poliester e Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/camisola/lola.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola Lola</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 38,00</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo26">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo26" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola com Botão na Alça</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/camisola/lola.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de Liganete (Poliester e Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/camisola/L_19.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisola com Renda e Bojo</h5>
              <p class="card-text">Tam. P M G GG</p>
              <p class="card-text">R$ 49,90</p>
              <!-- <a href="#" class="btn btn-primary">Visitar</a> -->
              <!-- Botão para acionar modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo27">
              + Detalhes
          </button>
            
            <!-- Modal -->
            <div class="modal fade" id="modalExemplo27" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Camisola Aberta</h5>
                    
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <img class="card-img-top" src="../../assets/camisola/L_19.png" alt="Imagem de capa do card">  
                          </div>
                          <div class="col-md-6">
                            <p>Descrição: Camisola de Liga Nete (Poliester e Elastano).</p>
                            <p>Estampas: Variadas.</p>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>

</section>
